:root {
    --blanco: #ffffff;
    --negro: #212121;
    --morado: #9F82F3; 
    --azul: #0648BA;
    --verde: #26D3A6;
    --azul-claro: #C3EFFC;
    --naranja-claro: #F8B6A8;
    --rosa-claro: #F7C2D6;
}

*{
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
   background-color: #070F2B;
   margin: 0;
    padding: 0; 
}

header{
    width: 100%;
    height: 100%;
    background-color: #E2DFD0;
    
}

#img-header{
    height: 100%;
    width: 100%;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 0.1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

.autor-info{
    height: auto;
    background-color: #E1F7F5;
    border-radius: 15px;

    grid-column: 1/span2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;

    padding: 0px 50px 0px 20px;
    border-radius: 10px;
    margin: 5px;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
    font-style: normal;
    font-size: 15px;

}

#info-fecha{
    grid-column: 1;
    grid-row: 1/span2;
}

#info-nombre{
    grid-column: 2;
    grid-row: 1;
    text-align: left;
}

#info-grupo{
    grid-column: 2;
    grid-row: 1;
    text-align: right;

}

.title-2{
    grid-row: 2;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    text-align: center;
    font-size: 28;
    width: auto;
    height: auto;
    color: white;
    letter-spacing: 2px;
    margin: 0px;
}

.theory{
    background-color: red;
    grid-row: 3;
    background-color: #FFFDCB;
    border-radius: 15px;
    max-height: 550px;
    overflow-y: auto;
    margin: 10px;
    padding: 10px 20px 10px 20px;
}

.theory p{
    font-family: "Quicksand", sans-serif;
    font-size: 18px; 
}

.p-title{
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.theory img{
    width: 100%;
}


.circuit{
    background-color: red;
    grid-row: 3;
    background-color: #FFFDCB;
    border-radius: 15px;
    max-height: 550px;
    overflow-y: auto;
    margin: 10px;
    padding: 10px 20px 10px 20px;  
}

.circuit img, video{
    width: 100%;
}

.footer {
    width: 100%;
    background-color: var(--negro);
}

.footer .grupo-1{
    width: 44.5%;
    max-width: 120rem;
    margin: auto;
    display: grid;
    grid-gap: 3rem;
    padding: 1.5rem 0rem;
}

.footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer .grupo-1 .box figure img{
    width: 12rem;
}

.footer .grupo-1 .box h2{
    color: var(--blanco);
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

.footer .grupo-1 .box h3{
    color: var(--blanco);
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
}

.footer .grupo-1 .box h4{
    color: var(--blanco);
    margin-bottom: 2.5rem;
    font-size: 1rem;
}

.footer .grupo-1 .box p{
    color: var(--blanco);
    margin-bottom: 1rem;
}

.footer .grupo-1  .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    color: var(--blanco);
    margin-right: 2.2rem;
    background-color: var(--morado);
    text-align: center; 
    transition: all 300ms ease;
}

.footer .grupo-1  .red-social a:hover {
    color: var(--azul);
}

.footer .grupo-2{
    background-color: var(--azul);
    padding: 1.5rem 1rem; 
    text-align: center;
    color: var(--blanco);
}

.footer .grupo-2 small{
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    .footer .grupo-1{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
        padding: 1.5rem 0rem;
    }
}
